* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
  background: #F4F4F5;
}

.container-main {
  margin: 30px auto 0 auto;
  display: flex;
  justify-content: center;
  background: #FFFFFF;
  width: 900px;
  height: 704px;
  border-radius: 12px 12px 0px 0px;
}

.block-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 25px;
}

.form-header {
  width: 100%;
  display: flex;
  align-items: center;
  padding-bottom: 24px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.user-content {
  margin-left: 20px;
}

.user-name {
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  color: #333333;
}

.user-avatar {
  position: relative;
  width: 80px;
  height: 80px;
  background-color: #D5E4F7;
  border-radius: 50%;
}

.user-avatar::after {
  content: 'АИ';
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color: #212830;
}

.user-links {
  display: flex;
}

.link {
  margin-top: 8px;
  margin-right: 16px;
  display: flex;
  align-items: center;
}

.icon {
  display: block;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.71002 3.96935L3.08181 2.52449C3.15733 2.44494 3.26221 2.3999 3.37189 2.3999H5.83441C5.9405 2.3999 6.04224 2.44205 6.11725 2.51706L7.48294 3.88275C7.55795 3.95776 7.6597 3.9999 7.76578 3.9999H13.4344C13.5405 3.9999 13.6422 4.04205 13.7173 4.11706L14.2829 4.68275C14.358 4.75776 14.4001 4.8595 14.4001 4.96559V12.6342C14.4001 12.7403 14.358 12.842 14.2829 12.9171L13.7173 13.4827C13.6422 13.5578 13.5405 13.5999 13.4344 13.5999H2.59C2.46983 13.5999 2.35602 13.5459 2.28005 13.4528L1.69015 12.7296C1.63191 12.6582 1.6001 12.5689 1.6001 12.4768V4.24476C1.6001 4.14227 1.63944 4.04368 1.71002 3.96935Z' fill='%23CCCCCC'/%3E%3C/svg%3E%0A");
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-size: contain;
}

.link a {
  text-decoration: none;
  color: #5558FA;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  margin-left: 4px;
}

.firstForm {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

label {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #333333;
  margin-bottom: 8px;
}

.row {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 24px;
}

.firstForm input {
  background: rgba(0, 0, 0, 0.04);
}

.firstForm input,
.firstForm select {
  width: 400px;
}

input,
select {
  box-sizing: border-box;
  height: 44px;
  border: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 4px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.48) !important;
  text-indent: 10px;
}

.par-error {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #fd0000;
}

button {
  cursor: pointer;
}

.btn {
  background: #5558FA;
  border-radius: 4px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
  border: none;
  padding: 12px 16px;
  margin-top: 24px;
}


/* STEP  */
.container {
  position: relative;
}

.container-step {
  margin: 30px auto 0 auto;
  display: flex;
  width: 900px;
  justify-content: center;
  background: #FFFFFF;
  border-radius: 24px;
}

.step {
  height: 800px;
}

.step-3 {
  height: 500px;
}

.step-2 {
  height: 821px;
}

.block {
  padding: 65px 110px;
  width: 100%;
  height: 100%;
}

.secondForm select {
  width: 300px;
}

.secondForm input,
.secondForm .css-b62m3t-container {
  background-color: #FFFFFF;
  width: 300px;
  height: 44px;
}

.css-1u9des2-indicatorSeparator {
  display: none;
}

.css-1jqq78o-placeholder {
  color: rgba(0, 0, 0, 0.48) !important;
}

.css-1jqq78o-placeholder,
.css-1dimb5e-singleValue {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;

}

.css-1dimb5e-singleValue {
  color: #333333 !important;
}

.css-qbdosj-Input {
  padding: 0 !important;
  margin: 0 !important;
}


.RSPBprogressBar {
  margin-left: 8px;
  height: 8px !important;
  width: 98%;
  background-color: #ebebeb !important;
}

.indexedStep {
  position: relative;
  width: 15px;
  height: 15px;
  background-color: #A6A6A6;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.indexedStep.accomplished {
  background-color: #5558FA;
  position: relative;
}

.point {
  position: absolute;
  background: #FFFFFF;
  width: 4px;
  height: 4px;
  border-radius: 50%;
}

.notAccomplished {
  position: absolute;
  top: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #666666;
}

.accomplishedSpan {
  color: #5558FA;
  position: absolute;
  top: 30px;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
}

.line-confirm {
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='9' viewBox='0 0 10 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.66147 7.87365C4.56698 7.99874 4.41929 8.07227 4.26252 8.07227H3.68243C3.54729 8.07227 3.41791 8.01757 3.32376 7.92063L0.504131 5.01762C0.315687 4.8236 0.315686 4.51491 0.504131 4.32089L0.975725 3.83535C1.1721 3.63317 1.49669 3.63317 1.69306 3.83535L3.49489 5.69046C3.70845 5.91034 4.06776 5.88806 4.25251 5.64349L8.15121 0.482651C8.32099 0.2579 8.64283 0.217688 8.86269 0.393752L9.38636 0.813089C9.59761 0.982258 9.63592 1.28881 9.47278 1.50476L4.66147 7.87365Z' fill='white'/%3E%3C/svg%3E%0A");
  position: absolute;
  width: 9.6px;
  height: 8px;
  background-repeat: no-repeat;
  background-size: cover;
}

.RSPBprogressBar .RSPBprogression {
  background-color: #5558FA !important;
}

.secondForm {
  margin-top: 105px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.block-buttons {
  margin-top: 40px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.block-buttons button:nth-child(2) {
  margin-right: -12px;
}

.btn-back {
  border: 1.5px solid #5558FA;
  border-radius: 4px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #5558FA;
  background-color: transparent;
  padding: 10px 16px;
  margin-top: 24px;
  position: absolute;
  bottom: 0px;
}

button:disabled {
  cursor: none;
}

/* Step2 */
.block-advantage {
  display: flex;
  flex-direction: column;
  margin-bottom: 4px;
}

.block-text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3px;
}

.btn-delete {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.4551 15.5498L2.5551 6.54975C2.52566 6.25541 2.75681 6 3.05262 6H12.9476C13.2434 6 13.4746 6.25541 13.4451 6.54975L12.5451 15.5498C12.5196 15.8054 12.3045 16 12.0476 16H3.95262C3.69574 16 3.48066 15.8054 3.4551 15.5498Z' fill='%23CCCCCC'/%3E%3Cpath d='M15.0001 4H1.00012C0.72398 4 0.500122 3.77614 0.500122 3.5V2.5C0.500122 2.22386 0.72398 2 1.00012 2H3.34873C3.44745 2 3.54395 1.97078 3.62608 1.91603L6.37416 0.0839749C6.45629 0.029219 6.5528 0 6.65151 0H9.34873C9.44745 0 9.54395 0.029219 9.62608 0.0839748L12.3742 1.91603C12.4563 1.97078 12.5528 2 12.6515 2H15.0001C15.2763 2 15.5001 2.22386 15.5001 2.5V3.5C15.5001 3.77614 15.2763 4 15.0001 4Z' fill='%23CCCCCC'/%3E%3C/svg%3E%0A");
  width: 15px;
  height: 16px;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  margin-left: 18.5px;
  background-color: transparent;
}

.btn-add {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1.5px solid #5558FA;
  border-radius: 4px;
  width: 44px;
  height: 44px;
  background-color: transparent;
}

.input-add {
  cursor: pointer;
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.99998 1C6.99998 0.447715 6.55226 0 5.99998 0C5.44769 0 4.99998 0.447715 4.99998 1V4.99998H1C0.447716 4.99998 0 5.44769 0 5.99998C0 6.55226 0.447715 6.99998 1 6.99998H4.99998V11C4.99998 11.5522 5.44769 12 5.99998 12C6.55226 12 6.99998 11.5522 6.99998 11V6.99998H11C11.5522 6.99998 12 6.55226 12 5.99998C12 5.44769 11.5522 4.99998 11 4.99998H6.99998V1Z' fill='%235558FA'/%3E%3C/svg%3E");
  width: 12px !important;
  height: 12px !important;

}

input {
  outline: 0 !important;
}

.block-checkbox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.block-checkbox input {
  height: auto;
}

input[type="checkbox"] {
  width: 16px;

  height: 16px;
  border: 1.5px solid rgba(0, 0, 0, 0.24);
  border-radius: 4px;
}

.block-checkbox .css-j204z7-MuiFormControlLabel-root {
  margin: 0 0 0 3px !important;
}

.block-checkbox .css-i4bv87-MuiSvgIcon-root {
  display: none !important;
}

.block-checkbox .css-1m9pwf3 {
  opacity: 0 !important;
}

.css-ahj2mt-MuiTypography-root {
  font-family: 'Inter', sans-serif !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 20px !important;
  color: #333333 !important;
  margin-left: 10px !important;
}

.block-checkbox label,
.block-radioGroup label {
  margin-bottom: 0;
}

.block-radioGroup {
  margin-top: 23px;
}

.block-radioGroup .css-vqmohf-MuiButtonBase-root-MuiRadio-root {
  padding: 0 !important;
}

.block-radioGroup .css-j204z7-MuiFormControlLabel-root {
  margin: 0 !important;
}

.block-radioGroup .css-1hbvpl3-MuiSvgIcon-root {
  width: 0.8em !important;
  height: 0.8em !important;
}

.css-11zohuh-MuiSvgIcon-root,
.css-1hhw7if-MuiSvgIcon-root {
  width: 0.8em !important;
  height: 0.8em !important;
}

.block-radioGroup input {
  width: auto !important;
}

/* STEP3  */

.thirdForm textarea {
  font-family: 'Inter', sans-serif;
  width: 680px;
  height: 84px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 4px;
  text-indent: 5px;
  padding-top: 5px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.48) !important;
}

.thirdForm .row {
  position: relative;
}

.thirdForm .row .par-error,
.par-count {
  position: absolute;
}

.thirdForm .row .par-error {
  bottom: -20px;
  left: 5px;
}

.par-count {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.48);
  right: 5px;
  bottom: 5px;
}

.form-allert,
.form-allert-error {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: rgba(0, 0, 0, 0.16);
}

.showForm {
  display: block;
}

.formHide {
  display: none;
}

.form-allert .allert {
  width: 460px;
  height: 312px;
}

.allert {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #FFFFFF;
  box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.08);
  border-radius: 12px;
}

.icon-allert {
  background-image: url("data:image/svg+xml, %3Csvg width='80' height='80' viewBox='0 0 80 80' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='80' height='80' rx='40' fill='%2305AE71' fill-opacity='0.15'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M20.8 40C20.8 29.4016 29.4016 20.8 40 20.8C50.5985 20.8 59.2001 29.4016 59.2001 40C59.2001 50.5985 50.5985 59.2001 40 59.2001C29.4016 59.2001 20.8 50.5985 20.8 40ZM47.4093 32.9903C46.9678 32.6817 46.3556 32.7557 46.0058 33.16L37.8957 42.5311L33.715 38.7738C33.3165 38.4157 32.7008 38.4157 32.3023 38.7738L30.7329 40.1842C30.2891 40.5831 30.2891 41.264 30.7329 41.6629L36.5953 46.9314C36.7874 47.1041 37.0396 47.2001 37.3016 47.2001H38.9073C39.2144 47.2001 39.5058 47.0683 39.7033 46.8401L49.3568 35.6856C49.7452 35.2368 49.6585 34.5625 49.1684 34.2199L47.4093 32.9903Z' fill='%2305AE71'/%3E%3C/svg%3E");
  width: 80px;
  height: 80px;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 50px 0;
}

.allert p {
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.form-card {
  width: 460px;
  height: 312px;
}

.form-card .btn {
  align-self: flex-end;
}

.form-card .allert {
  padding: 30px;
}

.icon-allert-error {
  background-image: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 80 80' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='80' height='80' rx='40' fill='%23E84E58' fill-opacity='0.15'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M39.9998 20.7998C29.4014 20.7998 20.7998 29.4014 20.7998 39.9998C20.7998 50.5982 29.4014 59.1998 39.9998 59.1998C50.5982 59.1998 59.1998 50.5982 59.1998 39.9998C59.1998 29.4014 50.5982 20.7998 39.9998 20.7998ZM32.4095 31.4835C32.7319 31.161 33.2548 31.161 33.5772 31.4835L40 37.9062L46.4225 31.4838C46.745 31.1613 47.2678 31.1613 47.5903 31.4838L48.758 32.6515C49.0805 32.974 49.0805 33.4968 48.758 33.8192L42.3355 40.2417L48.7579 46.6641C49.0804 46.9865 49.0804 47.5094 48.7579 47.8318L47.5902 48.9996C47.2677 49.322 46.7449 49.322 46.4224 48.9996L40 42.5772L33.5773 48.9998C33.2549 49.3223 32.7321 49.3223 32.4096 48.9998L31.2419 47.8321C30.9194 47.5096 30.9194 46.9868 31.2419 46.6643L37.6645 40.2417L31.2417 33.819C30.9193 33.4965 30.9193 32.9737 31.2417 32.6512L32.4095 31.4835Z' fill='%23E84E58'/%3E%3C/svg%3E%0A");
  width: 80px;
  height: 80px;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 50px 0;
}

.head-btn {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 20px;
}

.btn-close {
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.40385 4.6965C5.59911 4.50123 5.91569 4.50123 6.11095 4.6965L10.0002 8.5857L13.8892 4.69665C14.0845 4.50138 14.4011 4.50138 14.5963 4.69665L15.3034 5.40375C15.4987 5.59902 15.4987 5.9156 15.3034 6.11086L11.4144 9.99991L15.3033 13.8889C15.4986 14.0841 15.4986 14.4007 15.3033 14.596L14.5962 15.3031C14.401 15.4984 14.0844 15.4984 13.8891 15.3031L10.0002 11.4141L6.11103 15.3032C5.91577 15.4985 5.59919 15.4985 5.40393 15.3032L4.69682 14.5961C4.50156 14.4009 4.50156 14.0843 4.69682 13.889L8.58594 9.99991L4.69674 6.11071C4.50148 5.91545 4.50148 5.59886 4.69674 5.4036L5.40385 4.6965Z' fill='%23B3B3B3'/%3E%3C/svg%3E%0A");
  width: 20px;
  height: 20px;
  background-size: cover;
  background-repeat: no-repeat;
}

@media all and (max-width: 1024px) {
  .container-main {
    width: 700px;
    height: 600px;
  }

  .container-step {
    width: 600px;
    height: 700px;
  }

  .block {
    padding: 60px;
    width: 100%;
    height: 100%;
  }

  .block-buttons {
    margin: 0;
  }

  .thirdForm textarea {
    width: 500px;
  }

  .step {
    height: 700px;
  }

  .step-2 {
    height: 700px;
  }

  .step-3 {
    height: 500px;
  }
}

@media all and (max-width: 700px) {
  .container-main {
    width: 500px;
    height: 500px;
  }

  .container-step {
    width: 500px;
    height: 600px;
  }

  input[type="text"],
  .firstForm select {
    width: 300px;
  }

  input,
  select,
  .secondForm input {
    font-size: 13px;
  }

  input[type="text"] {
    height: 35px;
  }


  .block {
    padding: 40px;
    width: 100%;
    height: 100%;
  }

  .block-buttons {
    margin: 0;
  }

  .thirdForm textarea {
    width: 350px;
  }

  .step {
    height: 600px;
  }

  .step-2 {
    height: 600px;
  }

  .step-3 {
    height: 300px;
  }

  .thirdForm textarea,
  label,
  .css-ahj2mt-MuiTypography-root,
  .css-ahj2mt-MuiTypography-root {
    font-size: 13px !important;
  }

}

@media all and (max-width: 500px) {
  .container-main {
    width: 370px;
    height: 450px;
  }

  .user-avatar::after {
    font-size: 30px;
  }

  .user-avatar {
    width: 70px;
    height: 70px;
  }

  .user-name {
    font-weight: 600;
    font-size: 18px;
  }

  .link a {
    font-size: 10px;
  }

  .container-step {
    width: 370px;
    height: 450px;
  }


  input,
  select {
    height: 35px;
    font-size: 13px;
  }

  .secondForm {
    margin-top: 80px;
  }

  .notAccomplished,
  .accomplishedSpan {
    font-size: 13px;
  }

  .block {
    padding: 35px;
    width: 100%;
    height: 100%;
  }

  .block-buttons {
    margin: 0;
  }

  .thirdForm textarea {
    width: 300px;
  }

  .step {
    height: 600px;
  }

  .step-2 {
    height: 600px;
  }

  .step-3 {
    height: 370px;
  }

  .thirdForm textarea,
  label,
  .css-ahj2mt-MuiTypography-root,
  .css-ahj2mt-MuiTypography-root {
    font-size: 13px;
  }

  .btn,
  .btn-back {
    font-size: 13px;
    padding: 10px;
  }

  .btn-add {
    width: 35px;
    height: 35px;
  }

  .form-allert .allert {
    width: 350px;
    height: 300px;
  }

  .form-allert-error .allert {
    width: 350px;
  }

}

@media all and (max-width: 376px) {
  .container-main {
    width: 350px;
    height: 450px;
  }

  .container-step {
    width: 350px;
    height: 450px;
  }

  input[type="text"],
  .secondForm select {
    width: 240px;
  }

  .step {
    height: 550px;
  }
}
